.tariff__container {
    margin-right: 32px;
    display: flex;
    width: 286px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
    background: #F1F1F1;
    border-radius: 24px;
    position: relative;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box,
        linear-gradient(#DE1F1F4D, #671FDE4D, #221FDE4D, #00A3FF4D) border-box;
    border: 1.5px solid transparent;
}

.tariff__container:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.tariff_btn{
    padding-left: 78px;
    padding-right: 78px;
}

.tariff__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.tariff__details {
    display: flex;
    align-items: center;
    gap: 24px;
}

.tariff__desc {
    color: #696969;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 240px;
}

.tariff__qty {
    color: #020202;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;

}

@media(max-width: 520px) {
    .tariff__container {
        width: 220px;
        gap: 24px;
    }

    .tariff__title h3 {
        font-size: 16px;
        font-weight: 600;
    }

    .tariff__qty {
        font-size: 16px;
    }

    .tariff__desc {
        max-width: 188px;
        font-size: 12px;
    }

    .tariff__container button {
        padding-left: 69px;
        padding-right: 69px;
    }

    .tariff__container:hover {
        box-shadow: none;
    }
}