.section__title {
    margin: 0;
    min-width: 300px;
    max-width: 300px;
    display: block;
    font-family: Oswald;
    font-size: 78px;
    font-weight: 700;
    line-height: 100%;
}

@media(max-width: 1280px) {
    .section__title {
        font-size: 50px;
        min-width: 220px;
        max-width: max-content;
    }
}


@media(max-width: 520px) {

    .section__title {
        font-size: 26px;
        max-width: max-content;
        min-width: max-content;
    }

}