.form__title {
    max-width: 840px;
    color: #DCDCEF;
    text-align: center;
    font-family: Oswald;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 120px */
}

.form__title_container {
    display: flex;
    position: absolute;
    z-index: -1;
}

.form__title_container img{
    position: relative;
    top: -110px;
}

.form__container {
    display: flex;
    width: 1280px;
    padding: 32px;
    position: relative;
    top: 317px;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    border-radius: 16px;
    background: linear-gradient(90deg, #EEDCDD 0%, #E3DCEF 33.27%, #DCDCEF 66.39%, #D9E8F2 100%);
}

.form__input_container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

input {
    border: 0;
    display: flex;
    padding: 0;
    padding-bottom: 24px;
    width: 390px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-image: var(--strong-gradient) 60;
    border-bottom: 2px solid;
    background: transparent;

    color: #020202;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 700;
}

input::placeholder {
    color: #020202;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 700;
}


input:focus {
    outline: none;
}

input:focus::placeholder {
    color: #979999;
}

.form__btn_container {
    display: flex;
    justify-content: space-between;
    gap: 136px;
    align-self: stretch;
}

.form__text {
    width: 795px;
    color: #696969;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}