.form__wrapper {
    width: calc(100vw - 160px);
    margin-bottom: 120px;
    height: 580px;
    display: flex;
    justify-content: center;
    max-width: 1280px;
}

.form__title {
    max-width: 1184px;
    color: #DCDCEF;
    text-align: center;
    font-family: Oswald;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 120px */
}

.form__adult_title {
    display: flex;
    position: absolute;
    z-index: -1;
}

.form__children_title {
    display: flex;
    position: absolute;
    z-index: -1;
}

.form__adult_title img {
    position: relative;
    top: -110px;
}

.form__children_title img {
    position: relative;
    top: -35px;
    left: 70px;
}

.form__container {
    display: flex;
    width: calc(100vw - 224px);
    padding: 32px;
    position: relative;
    top: 317px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(90deg, #EEDCDD 0%, #E3DCEF 33.27%, #DCDCEF 66.39%, #D9E8F2 100%);
}

.form__input_container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

input {
    border: 0;
    display: flex;
    padding: 0;
    padding-bottom: 24px;
    width: 33%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-image: linear-gradient(135deg, rgba(222, 31, 31, 0.40) 25%, rgba(103, 31, 222, 0.40) 36.15%, rgba(34, 31, 222, 0.40) 66.33%, rgba(0, 163, 255, 0.40) 100%) 1;
    border-bottom: 2px solid;
    background: transparent;

    color: #020202;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 700;
}

input::placeholder {
    color: #020202;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 700;
}


input:focus {
    outline: none;
}

input:focus::placeholder {
    color: #979999;
}

.form__btn_container {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: flex-end;
    gap: 5px;

}

.form__text {
    width: 795px;
    color: #696969;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media(min-width: 1440px) {
    .form__wrapper {
        width: 1280px;
    }

    .form__container {
        width: 1216px;
    }
}

@media(max-width: 1439px) {
    .form__wrapper {
        justify-content: flex-start;
    
    }

    .form__container {
        width: calc(100vw - 144px);
    }
}


@media(max-width: 1184px) {
    .form__wrapper {
        width: calc(100vw - 60px);
        margin-bottom: 140px;
        height: 440px;
    }

    .form__container {
        top: 240px;
        width: calc(100vw - 124px);    
    }

    .form__title {
        font-size: 90px;
        min-width: 495px
    }

    .form__adult_title img {
        width: 225px;
        height: 394px;
        top: -105px;
        left: 0px;
    }

    .form__text {
        font-size: 24px;
        width: auto;
    }

    .form__btn {
        min-width: max-content;
    }

    .form__children_title img {
        width: 256px;
        height: 289px;
        top: 40px;
    }

    .form__children_title h1 {
        margin-top: 100px;
        font-size: 70px;
        max-width: 550px;
    }
}

@media(max-width: 789px) {

    .form__wrapper {
        width: calc(100vw - 20px);
        margin-bottom: 96px;
    }

    .form__input_container {
        flex-direction: column;
        gap: 16px;

    }

    .form__container {
        top: 96px;
        width: calc(100vw - 52px);
        align-items: baseline;
        padding: 16px;
    }

    .form__text {
        font-size: 16px;
        width: 100%;

        text-align: center;
    }

    input {
        font-size: 14px;
        /* width: 280px; */
        width: 100%;

        padding-bottom: 16px;
    }

    input::placeholder {
        font-size: 14px;
        padding-bottom: 16px;
    }

    input:invalid {
        border-bottom: 2px solid rgba(222, 31, 31, 0.30);
        border-image: none;
    }

    .form__btn_container button {
        width: 100%;
        color: #020202;
        border-radius: 16px;
        font-size: 16px;

    }

    .form__adult_title img {
        width: 77px;
        height: 135px;
        top: -27px;
        left: 160px;
    }

    .form__title {
        font-size: 36px;
    }

    .form__children_title img {
        width: 97px;
        height: 123px;
        top: 6px;
        left: 0px;
    }

    .form__children_title h1 {
        margin-top: 44px;
        max-width: 182px;
        min-width: 0;
        font-size: 26px;
    }

}