.reviews__container {
    scroll-margin-top: 80px;
    margin-bottom: 175px;
    position: relative;
    display: flex;
    height: auto;
    align-items: flex-start;
    gap: 61px;
}

.reviews__items_container {
    height: 600px;
    overflow-y: clip;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 32px;
}

.reviews__items_container.full {
    height: auto;
}

.test::after {
    position: absolute;
    content: "";
    top: 60%;
    height: 30%;
    width: 80%;
    background: linear-gradient(0deg, #F1F1F1 0%, rgba(241, 241, 241, 0.30) 100%);
    pointer-events: none;
}

.test.disabled {
    display: none;
}

.reviews__img {
    position: absolute;
    left: -80px;
    top: 270px;
}

.reviews__content_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

@media(min-width: 1440px) {
    .reviews__container {
        width: 1280px;
        margin: 0 auto;
    }

}

@media(max-width: 1439px) {
    .reviews__container {
        width:  calc(100vw - 80px);
        padding: 0 40px;
    }

.reviews__img {
    left: -40px;
}


}


@media(max-width: 1184px) {
    .reviews__container {
        width:  calc(100vw - 60px);
        padding: 0 30px;
    }

    .reviews__items_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .reviews__img {
        width: 231px;
        height: 136px;
        top: 200px;
        left: 0;
    }

    .test::after {
        left: 264px;
    }

}

@media(max-width: 820px) {
    .test::after {
        left: 0;
    }
}




@media(max-width: 820px) {

    .reviews__container {
        scroll-margin-top: 80px;
        margin-bottom: 105px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: calc(100vw - 20px);
        padding: 0 10px;
    }

    .reviews__items_container {
        height: 600px;
        overflow-y: clip;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .reviews__img {
        display: none;
    }

    .reviews__content_container button {
        padding: 12px 60px;
        font-size: 16px;
    }

    .test::after {
        width: 100%;
    }

}