.reviews__container {
    margin-bottom: 325px;
    position: relative;
    display: flex;
    height: 630px;
    align-items: flex-start;
    gap: 61px;
}

.reviews__items_container {
    height: 600px;
    overflow-y: clip;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 32px;
}

.reviews__content_container::after {
    position: absolute;
    content: "";
    top: 70%;
    height: 30%;
    width: 80%;
    background: linear-gradient(0deg, #F1F1F1 0%, rgba(241, 241, 241, 0.30) 100%);
    pointer-events: none;
}

.reviews__img {
    position: absolute;
    left: -6vw;
    top: 270px;
}

.reviews__content_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}