.about__container {
    scroll-margin-top: 100px;
    height: 550px;
    margin-bottom: 190px;
    display: flex;
    justify-content: space-between;
}

.about__container img {
    display: none;
}

.about__text {
    padding-top: 145px;
    display: flex;
    gap: 62px;
}

.about__info {
    max-width: 450px;
}

.about__info h3 {
    margin-bottom: 24px;
}

.about__adult_img {
    position: relative;
    width: 315px;
    height: 548px;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(222, 31, 31, 0.40) 0%, rgba(103, 31, 222, 0.40) 36.15%, rgba(34, 31, 222, 0.40) 66.33%, rgba(0, 163, 255, 0.40) 100%);
}

.about__adult_img::after {
    content: "";
    position: absolute;
    top: 51px;
    left: 116px;
    width: 615px;
    height: 600px;
    background-image: url('./about-adult-img.svg');
    background-repeat: no-repeat;
}

.about__children_img {
    position: relative;
    width: 315px;
    height: 548px;
}

.about__children_img::after {
    content: "";
    position: absolute;
    top: 110px;
    left: -100px;
    width: 615px;
    height: 600px;
    background-image: url('./about-children-img.svg');
    background-repeat: no-repeat;
}

.about__children_rect {
    position: absolute;
    bottom: -580px;
    left: -2vh;
    width: 110vw;
    height: 167px;
    border-radius: 16px;
    z-index: -1;
    background: linear-gradient(135deg, rgba(222, 31, 31, 0.40) 0%, rgba(103, 31, 222, 0.40) 36.15%, rgba(34, 31, 222, 0.40) 66.33%, rgba(0, 163, 255, 0.40) 100%);
}

@media(max-width: 1439px) {
    .about__container {
        align-items: center;
        width: calc(100vw - 60px);
        padding-right: 50px;
    }

    .about__info {
        max-width: unset;
        padding-right: 228px;
    }

    .about__text {
        flex-direction: column;
        gap: 32px;
        padding-top: 0;
    }

    .about__adult_img {
        width: 275px;
        height: 479px;
    }

    .about__adult_img::after {
        background-size: contain;
        top: 51px;
        left: 116px;
        width: 210px;
        height: 429px;
    }

    .about__children_img::after {
        top: 160px;
        left: -140px;
        width: 252px;
        height: 342px;
        background-size: contain;
    }

    .about__children_rect {
        height: 117px;
        bottom: -860px;

    }

    .about__h3_adult {
        font-size: 26px;
        line-height: 112.5%;
        /* 29.25px */
        letter-spacing: -1.56px;
    }

    .about__h3_children {
        font-size: 26px;
        line-height: 112.5%;
        /* 29.25px */
        letter-spacing: -1.56px;
    }

}


@media(max-width: 899px) {
    .about__container {
        flex-direction: column;
        margin-bottom: -100px;
        width: calc(100vw - 20px);
        padding: 10px;
    }

    .about__head_container {
        display: flex;
        width: calc(100vw - 20px);
        justify-content: space-between;
        align-items: flex-end;
    }

    .about__info {
        max-width: unset;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .about__text_container {
        width: calc(100vw - 20px);
        display: flex;
        justify-content: space-between;
    }

    .about__container img {
        display: block;
    }

    .about__text {
        width: calc(100vw - 20px);
        padding: 10px;
        padding-top: 24px;
        flex-direction: column;
        gap: 24px;
    }

    .about__adult_img {
        display: none;
    }

    .about__adult_img::after {
        display: none;
    }

    .about__h3_adult {
        font-size: 20px;
        line-height: 112.5%;
        letter-spacing: -1.2px;
    }

    .about__h3_children {
        font-size: 20px;
        line-height: 112.5%;
        letter-spacing: -1.2px;
    }

    .about__children_img {
        position: relative;
        width: 315px;
        height: 548px;
    }

    .about__children_img::after {
        display: none;
    }

    .about__children_rect {
        display: none;
    }

    .about__info h3 {
        margin-bottom: 0;
    }

}