.about__container {
    scroll-margin-top: 100px;
    height: 550px;
    margin-bottom: 190px;
    display: flex;
    justify-content: space-between;
}

.about__text {
    padding-top: 145px;
    display: flex;
    gap: 62px;
}

.about__info {
    max-width: 450px;
}

.about__info h3 {
    margin-bottom: 24px;
}

.about__adult_img {
    position: relative;
    width: 315px;
    height: 548px;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(222, 31, 31, 0.40) 0%, rgba(103, 31, 222, 0.40) 36.15%, rgba(34, 31, 222, 0.40) 66.33%, rgba(0, 163, 255, 0.40) 100%);
}

.about__adult_img::after {
    content: "";
    position: absolute;
    top: 51px;
    left: 116px;
    width: 615px;
    height: 600px;
    background-image: url('./about-adult-img.svg');
    background-repeat: no-repeat;
}

.about__children_img {
    position: relative;
    width: 315px;
    height: 548px;
}

.about__children_img::after {
    content: "";
    position: absolute;
    top: 110px;
    left: -100px;
    width: 615px;
    height: 600px;
    background-image: url('./about-children-img.svg');
    background-repeat: no-repeat;
}

.about__children_rect {
    position: absolute;
    bottom: -580px;
    left: -2vh;
    width: 110vw;
    height: 167px;
    border-radius: 16px;
    z-index: -1;
    background: linear-gradient(135deg, rgba(222, 31, 31, 0.40) 0%, rgba(103, 31, 222, 0.40) 36.15%, rgba(34, 31, 222, 0.40) 66.33%, rgba(0, 163, 255, 0.40) 100%);
}

@media(max-width: 520px) {
    .about__container {
        flex-direction: column;
        margin-bottom: -100px;
        width: 300px;
    }

    .about__text {
        padding-top: 24px;
        flex-direction: column;
        gap: 24px;
    }

    .about__adult_img {
        top: -210px;
        left: 210px;
        width: 102px;
        height: 183px;
        background: url('./about-adult-mobile-img.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .about__adult_img::after {
        display: none;
    }

    .about__p_adult {
        max-width: 236px;
    }

    .about__p_children {
        max-width: 300px;
    }

    .about__h3_adult {
        font-size: 20px;
        line-height: 112.5%;
        letter-spacing: -1.2px;
    }

    .about__h3_children {
        max-width: 189px;
        font-size: 20px;
        line-height: 112.5%;
        letter-spacing: -1.2px;
    }

    .about__children_img {
        position: relative;
        width: 315px;
        height: 548px;
    }

    .about__children_img::after {
        content: "";
        position: absolute;
        top: -305px;
        left: 200px;
        width: 89px;
        height: 122px;
        background-size: contain;
    }

    .about__children_rect {
        display: none;
    }

}