.about__container {
    height: 550px;
    margin-bottom: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__text {
    padding-top: 145px;
    display: flex;
    gap: 62px;
}

.about__info {
    max-width: 450px;
}

.about__info h3 {
    margin-bottom: 24px;
}
