.lessons___container {
    height: 300px;
    margin-bottom: 180px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 62px;
}

.lessons__list_container {
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    max-width: 1000px;
    overflow-x: scroll;
}

.lessons__list_container::-webkit-scrollbar {
    width: 0px;
}

.lessons__list {
    display: flex;
    width: 1600px;
    height: 160px;
    gap: 70px;
    justify-content: space-between;
}

@media(max-width: 520px) {
    .lessons___container {
        max-width: 320px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto 0;
        margin-bottom: 100px;
        gap: 16px;
    }

    .lessons__list {
        gap: 52px;
    }

    .lessons__list_container {
        max-width: 320px;
    }
}