.lessons___container {
    height: 300px;
    margin-bottom: 180px;
    margin-right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 62px;
    width: fit-content;
}

.lessons__list_container {
    display: flex;
    padding: 10px 0px;
    padding-right: 10vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    max-width: 66vw;
    overflow-x: scroll;
}

.lessons__list_container::-webkit-scrollbar {
    width: 0px;
}

.lessons__list {
    display: flex;
    width: 1600px;
    height: 160px;
    gap: 70px;
    justify-content: space-between;
}

@media(min-width: 1440px) {
    .lessons__list_container {
        max-width: 60vw;
        padding-right: 10vw;
    }
}

@media(max-width: 1439px) {
    .lessons___container {
        width: 100vw;
    }
    
}


@media(max-width: 1184px) {
    .lessons___container {
        gap: 54px;
        margin-bottom: 150px;
    }

    .lessons__list_container {
        max-width: calc(70vw - 30px);
    }
}


@media(max-width: 789px) {
    .lessons___container {
        width: calc(100vw - 20px);
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto 0;
        margin-bottom: 100px;
        gap: 16px;
    }

    .lessons__list {
        gap: 52px;
    }

    .section__title_container {
        display: flex;
        width: calc(100vw - 20px);
        justify-content: space-between;
        align-items: center;
    }

    .lessons__btn:hover {
        box-shadow: none;
    }

    .lessons__list_container {
        max-width: calc(100vw - 20px);
    }
}