.header__container {
    height: 720px;
    margin-bottom: 110px;
}

.header_img {
    background: var(--strong-gradient);
    width: 572px;
    height: 650px;
    position: relative;
    right: -800px;
    top: -470px;
    border-radius: 16px;
    z-index: -1;
}

.header_img::after {
    content: "";
    position: absolute;
    top: 230px;
    left: -42px;
    width: 615px;
    height: 600px;
    background-image: url('./header-img.svg');
    background-repeat: no-repeat;
}

.hand_img {
    top: 230px;
    right: 10px;
    position: absolute;
}

.header__title {
    margin-bottom: 32px;
    max-width: 830px;
    color: #020202;
    font-family: Oswald;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%;
}

.header__text {
    margin-bottom: 32px;
    color: #696969;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

