.header__container {
    height: 720px;
    margin: auto;
    margin-bottom: 110px;
}

.header__content_container {
    display: flex;
    justify-content: space-between;
}

.header_img_adult {
    margin-right: auto;
    margin-top: -96px;
    background: url('./header-img.svg');
    position: absolute;
    right: 0;
    width: 642px;
    height: 700px;
    z-index: -1;
}

.header_img_children {
    margin-top: -96px;
    background: url('./header-img-children.svg');
    position: absolute;
    right: 0px;
    width: 600px;
    height: 728px;
    z-index: -1;
}

.header__title {
    margin-bottom: 32px;
    max-width: 830px;
    color: #020202;
    font-family: Oswald;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%;
    max-width: 1280px;
}

.header__text {
    margin-bottom: 32px;
    max-width: 700px;
    font-size: 16px;
}

@media(min-width: 1440px) {
    .header__container {
        width: 1280px;
        position: relative;
    }

    .header__title {
        max-width: 896px;
    }

    .header_img_adult {
        width: 835px;
        background-repeat: no-repeat;
        position: absolute;
        right: -317px;
    }

    .header_img_children {
        width: 635px;
        height: 750px;
        background-repeat: no-repeat;
        position: absolute;
        right: -176px;
    }
}


@media(max-width: 1439px) {

    .header__container {
        height: auto;
        margin-bottom: 160px;
        position: relative;
    }

    .header__content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
        padding-top: 32px;
        max-width: 67%;
    }

    .header__title {
        font-size: 66px;
        max-width: 510px;
        margin: 0;
    }

    .header__text {
        margin: 0;
    }

    .header_img_adult {
        height: 515px;
        width: 377px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: -28px;
        margin-top: -66px;
    }

    .header_img_children {
        height: 550px;
        width: 425px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -75px;
    }

    .header__title {
        max-width: unset;
    }

}

@media(max-width: 899px) {

    .header__container {
        width: calc(100vw - 20px);
        height: 250px;
        margin-bottom: 56px;
    }

    .header__content {
        gap: 24px;
        padding-right: 33px;
    }

    .header__title {
        min-width: 229px;
        font-size: 30px;
    }

    .header__text {
        max-width: 55vw;
        font-size: 12px;
    }

    .header_img_adult {
        background: url('./header-img-mobile.svg');
        height: 251px;
        width: 145px;
        margin-top: -40px;
        margin-right: -20px;
    }

    .header_img_children {
        background: url('./header-img-children-mobile.svg');
        background-repeat: no-repeat;
        height: 269px;
        width: 141px;
        margin-top: -40px;

    }
}