nav {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

ul>li {
    display: inline-block;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #020202;
    font-size: 16px;
    font-weight: 400;
}

img {
    margin-right: 32px;
}

.left {
    display: flex;
    align-items: center;
}

.header__mode {
    margin-right: 16px;
    text-decoration: none;
    color: #020202;
    font-size: 16px;
    font-weight: 600;
}

.contact-us-btn {
    border-radius: 16px;
background: #F1F1F1;
}