footer {
    border-radius: 16px 16px 0px 0px;
    background: linear-gradient(135deg, rgba(222, 31, 31, 0.21) 0%, rgba(103, 31, 222, 0.21) 36.45%, rgba(0, 114, 253, 0.21) 68.25%, rgba(0, 163, 255, 0.21) 100%);
    display: flex;
    align-items: flex-start;
    gap: 70px;
    padding: 32px;
    max-width: 1280px;
}

.footer__content_container {
    display: flex;
    align-items: flex-start;
    gap: 70px;
}

.footer__item_container {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer__item_container a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.footer__item_container img {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.footer__header {
    padding-bottom: 16px;
    border-image: linear-gradient(135deg, rgba(222, 31, 31, 0.40) 25%, rgba(103, 31, 222, 0.40) 36.15%, rgba(34, 31, 222, 0.40) 66.33%, rgba(0, 163, 255, 0.40) 100%) 1;
    width: 200px;
    border-bottom: 2px solid;
}

.footer__nav {
    cursor: pointer;
}

@media(min-width: 1440px) {
    footer {
        width: 1216px;
    }
}

@media(max-width: 1439px) {
    .footer__content_container {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }

}


@media(max-width: 1184px) {
    footer {
        width: calc(100vw - 124px);
    }

    .footer__content_container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: inherit;
    }

.footer__header {
    width: 100%;
}

    .footer__item_container {
        width: auto;
    }
}


@media(max-width: 789px) {
    footer {
        flex-direction: column;
        width: calc(100vw - 10px);
        padding: 24px 10px;
        gap: 16px;
    }

    .footer__content_container {
        width: calc(100vw - 20px);
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .footer__header {
        width: 300px;
        margin-bottom: 6px;
    }

    .footer__logo {
        padding-left: 10px;
        width: 63px;
        height: 35px;
    }
}