.parents_ask__container {
    scroll-margin-top: 200px;
    display: inline-flex;
    align-items: flex-start;
    gap: 62px;
    margin-bottom: 180px;
}

.parents_ask__content_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.parents_ask__content_container hr{
    width: 100%;
    background: var(--strong-gradient);
    height: 2px;
    border: 0;
    margin: 0;
}