.parents_ask__container {
    scroll-margin-top: 200px;
    display: flex;
    align-items: flex-start;
    gap: 62px;
    margin-bottom: 180px;
}

.parents_ask__content_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.parents_ask__content_container hr {
    width: 100%;
    background: var(--strong-gradient);
    height: 2px;
    border: 0;
    margin: 0;
}

@media(min-width: 1440px) {
    .parents_ask__container {
        width: 1280px;
    }
}

@media(max-width: 1439px) {
    .parents_ask__container {
        width: calc(100vw - 80px);
        padding: 0 40px;
    }
}



@media(max-width: 1184px) {
    .parents_ask__container {
        width: calc(100vw - 60px);
        flex-direction: column;
        align-items: center;
        margin-top: -120px;
        margin-bottom: 130px;
        padding: 0 30px;
    }

}

@media(max-width: 820px) {
    .parents_ask__container {
        flex-direction: column;
        margin-top: 0;
        width: calc(100vw - 20px);
        gap: 24px;
        margin-bottom: 96px;
    }
}