.item__container {
    padding-bottom: 10px;
    border-image: var(--strong-gradient) 1;
    border-bottom: 2px solid;
}

.item__opened_container button {
    margin-top: 8px;
    width: 24px;
    background: url('./close-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;

}

.item__container button:hover {
    box-shadow: none;
}

.item__opened_container {
    overflow: hidden;
    max-height: 1000px;
    transition: all 1s cubic-bezier(1, 0, 1, 0);
}

.item__opened_container.active {
    max-height: 56px;
    transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.item__opened_container.active button {
    margin-top: 8px;
    width: 24px;
    background: url('./close-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    transition: all 1s;
}

.item__opened_content_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    width: 920px;
    padding: 8px 0px;
}

.item__opened_container p {
    height: auto;
    transition: all 1s cubic-bezier(0, 1, 0, 1);
    max-width: 865px;
    margin-bottom: 24px;
}

@media(max-width: 1159px) {
    .item__container {
        width: calc(100vw - 60px);
        gap: 0;
    }

    .item__opened_content_container {
        width: auto;
    }

    .item__opened_content_container h3 {
        font-size: 22px;
        line-height: 110%;
    }
}


@media(max-width: 899px) {
    .item__container {
        width: calc(100vw - 20px);
    }

    .item__container h3 {
        font-size: 14px;
        letter-spacing: normal;
    }

    .item__opened_container {
        overflow: hidden;
        max-height: 1000px;
        transition: all 1s cubic-bezier(1, 0, 1, 0);
    }

    .item__opened_container.active {
        transition: all 1s cubic-bezier(0, 1, 0, 1);
    }

    .item__opened_container.active button {
        padding: 0;
        width: 16px;
        height: 8px;
        background-size: contain;
    }

    .item__opened_content_container {
        padding-bottom: 8px;
    }

    .item__opened_content_container button {
        padding: 0;
        width: 16px;
        height: 8px;
        background-size: contain;
    }
}