.tariffs__container {
    margin-bottom: 160px;
    height: 520px;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
    align-items: flex-start;
    gap: 62px;
    position: relative;

}

.tariffs__container::before {
    content: '';
    display: block;
    position: absolute;
    top: 180px;
    left: 800px;
    z-index: -1;
    width: 698px;
    height: 328px;
    background-image: url('./tariffs-rect-img.png');
}

.tariffs__items_container {
    width: 1000px;
    display: flex;
    align-items: flex-start;
    gap: 32px;
}