.tariffs__container {
    margin-bottom: 160px;
    scroll-margin-top: 200px;
    height: 520px;
    width: 1370px;
    display: flex;
    overflow-x: hidden;
    align-items: flex-start;
    gap: 62px;
    position: relative;
}

.tariffs__container::before {
    content: '';
    display: block;
    position: absolute;
    top: 180px;
    left: 800px;
    z-index: -1;
    width: 698px;
    height: 328px;
    background-image: url('./tariffs-rect-img.png');
}

.tariffs__items_container {
    width: 1000px;
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;

}

.tariffs__btns {
    display: flex;
}

.tariffs__btns p {
    color: #020202;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.tariffs__btn_left {
    background: url('tariffs-left-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.tariffs__btn_left_active {
    background: url('tariffs-left-icon-active.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.tariffs__btn_left:hover {
    box-shadow: none;
}

.tariffs__btn_left_active:hover {
    box-shadow: none;
} 

.tariffs__btn_right {
    background: url('tariffs-right-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.tariffs__btn_right:hover {
    box-shadow: none;
}

.tariffs__btn_right_active {
    background: url('tariffs-right-icon-active.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.tariffs__btn_right_active:hover {
    box-shadow: none;
}

.tariffs__title_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media(max-width: 520px) {

    .tariffs__container {
        margin-bottom: 96px;
        height: auto;
        overflow-y: hidden;
        flex-direction: column;
        max-width: 300px;
        gap: 24px;
    }

    .tariffs__title_container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }

    .tariffs__btns p {
        color: #020202;
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
    }

    .tariffs__btns p {
        font-size: 12px;
    }

    .tariffs__btn_left {
        width: 7px;
        height: 12px;
        background-size: contain;
        padding-right: 4px;
    }

    .tariffs__btn_right {
        width: 7px;
        height: 12px;
        background-size: contain;
        padding-left: 4px;
    }

    .tariffs__btn_left_active {
        width: 7px;
        height: 12px;
        background-size: contain;
        padding-right: 4px;
    }

    .tariffs__btn_right_active {
        width: 7px;
        height: 12px;
        background-size: contain;
        padding-left: 4px;
    }
}